.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: stretch;
    overflow: hidden;
}

.collapse {
    transition: ease-in-out 0.5s;
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0;
    margin-bottom: 1.5rem;
}
@media print { .collapse {
    height: max-content !important;
} }

.footer {
    width: 100%;
    margin-top: -3rem;
    padding-top: 3rem;
    background: linear-gradient(transparent 0%, white 3rem, white 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
@media print { .footer { display: none } }
.fillWidth {
    width: stretch;
    height: 3px;
    border-radius: 100vw;
}
.button {
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
}
