@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    size: A4;
}


body {
    padding-bottom: 50px;
}

* {
    font-family: "Roboto", sans-serif;
    font-variant-ligatures: none;
    color: #424242;
    scroll-behavior: smooth;
}
